<h2>
  Setup MFA
</h2>
<p>
  Request successfully verified. If you haven’t already done so, please download the <a href="https://www.microsoft.com/en-us/account/authenticator" target="_blank">The Microsoft Authenticator App</a> on your mobile device.
</p>
<p>
  In a few minutes you will be prompted to login to your Microsoft account on your computer and complete the MFA enrollment steps.
</p>
<p>
  If you are not prompted, try to login from a private or incognito window. Right click <a href="https://login.microsoftonline.com/" target="_blank">here</a> and select "Open link in incognito window" or "Open link in new private window."
</p>
<br>
<button mat-raised-button color="primary" (click)="goHome()">Done</button>
